<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<!--xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">-->
<head>
  <meta charset="UTF-8">
  <title>Coffee Orders</title>
</head>
<body>
<div sec:authorize="isAuthenticated()">
  This content is only shown to authenticated users.

  <p>Logged user: <span sec:authentication="name">Bob</span></p>
  <p>Roles: <span sec:authentication="principal.authorities">user</span></p>
</div>
<div sec:authorize="hasRole('ROLE_ADMIN')">
  This content is only shown to ROLE_ADMIN.
</div>
<div sec:authorize="hasRole('ROLE_USER')">
  This content is only shown to ROLE_USER.
</div>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
  </tr>
  <tr th:each="coffeeOrder : ${coffeeOrders}">
    <td><a th:href="@{/coffee-order/{id}(id=${coffeeOrder.id})}">
      <span th:text="${coffeeOrder.name}">Megan</span>
    </a></td>
    <td th:text="${coffeeOrder.price}">225</td>
  </tr>
</table>
</body>
</html>
